.site-menu{
    li {
        a {
            color: #000;
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 450;
            font-size: small;
            &:hover {
                transition: all 300ms;
                color: #007bff;
            }
        }
        ul {
            display: none;
            transition: all 300ms;
            position: absolute;
            background: #fff;
            border-bottom: 2px solid lightblue;
            li {
                ul {
                    display: none;
                    position: absolute;
                    top: 70%;
                    left: 100%;
                }
                &:hover {
                    ul {
                        display: table;
                    }
                }                
            }
        }
        &:hover {
            ul {
                display: table;
            }
        }
    }
}

.colorBod {
    background-color: #f9f9f9;
    width: 100%;
}

.colorLink {
    color: #000;
}

.test {
    &::after {
        content: " >";
        color: #000;
        font-size: 16px;
        top: 50%;
    }
}

