<div class="row pt-4 pb-4 justify-content-between colorBod">
    <div class="col-lg-2 col-12 fw-bold">
        D E L A N N I S
    </div>
    <div class="col-lg-6 col-12">
        <ul class="site-menu d-none d-lg-block me-4">
            <li class="has-children d-inline-block me-4">
                <a class="test" href="index.html">Collection</a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Men</a></li>
                    <li><a class="dropdown-item" href="#">Women</a></li>
                    <li><a class="dropdown-item" href="#">Children</a></li>
                    <li class="has-children dropdown-item">
                        <a href="#">Sub Menu ></a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Men</a></li>
                            <li><a class="dropdown-item" href="#">Women</a></li>
                            <li><a class="dropdown-item" href="#">Children</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="d-inline-block me-4"><a href="shop.html">Shop</a></li>
            <li class="d-inline-block me-4"><a href="#">Catalogs</a></li>
            <li class="d-inline-block me-4"><a href="contact.html">Contact</a></li>
        </ul>
    </div>
    <div class="col-lg-2 col-12">
        <ul>
            <li class="d-inline-block me-2"><a class="colorLink" href="#"><i class="fa fa-search"></i></a></li>
            <li class="d-inline-block me-2"><a class="colorLink" href="#"><i class="fa fa-heart"></i></a></li>
            <li class="d-inline-block me-2"><a class="colorLink" href="#"><i class="fa fa-shopping-cart"></i></a></li>
            <li class="d-inline-block me-2"><a class="colorLink" href="#"><i class="fa fa-user"></i></a></li>
        </ul>
    </div>
</div>
